html, body {
  margin: 0;
  padding: 0;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  border: 5px solid lightcoral;
}
.box {
  height: 200px;
  margin: 5px;
  display: inline-block;
  border: 2px solid black;
  flex: 1;
}

.square1{
  background-color: green;
  flex-basis: 400px;
}

.square2 {
    background-color: red;
    flex-basis: 100px;
}

.square3 {
    background-color: blue;
    flex-basis: 200px;
}

.square4 {
   background-color: brown;
   flex-basis: 200px;
}

.square5 {
    background-color: pink;
    flex-basis: 200px;
}

.square6 {
    background-color: yellow;
    flex-basis: 200px;
}

.square7 {
    background-color: black;
    flex-basis: 400px;
}

.square8{
    background-color: grey;
    flex-basis: 200px;
}

.square9 {
    background-color: green;
    flex-basis: 200px;
}
